/*
Theme Name: Orangetoolz
Author: Orangetoolz
Author URI: http://orangetoolz.com/
Description: Base theme for Orangetoolz client sites
Version: 1.0
*/

header .header-top .user-nav ul li {
    padding: 0;
}
header .header-top .user-nav ul li a {
    padding: 10px 20px;
    display: block;
}
.member-item {
    background: #f9f9f9;
    padding: 30px 5px;
    border-radius: 12px;
    display: block;
    min-height: 250px;
}


/** file upload **/
.user-photo-upload, .user-certificate-upload{
    position: relative;
}
.photo-upload-wrapper {
    display:block;
    width:150px;
    height:150px;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.3);
    font-size: 14px;
    color:white;
    text-align: center;
    line-height: 150px;
}
.photo-upload-wrapper input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.photo-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-preview .user-photo-preview {
    position: absolute;
    display: block;
    width: 150px;
    height: 150px;
    background-color: rgba(0,0,0,0.3);
    font-size: 14px;
    color: white;
    text-align: center;
    top: 0;
}

.uploaded_photo_delete {
    position: absolute;
    width: 40px;
    left: 124px;
    padding: 0.5em;
    text-align: center;
    color: white;
    background-color: #e74141db;
    border-radius: 50% !important;
    border: none;
    top: -10px;
    height: 40px;
    line-height: 26px;
}
.uploaded_photo_delete:focus{
    outline: none;
}


/* Another upload */

.file-upload {
    position: relative;
    display:block;
    width:150px;
    height:150px;
    border-radius: 3px;
    background-color:rgba(0,0,0,0.3);
    font-size: 14px;
    color:white;
    text-align: center;
    line-height: 150px;
    
}

.file-upload input {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.file-preview img{
    width:100%;
    height: auto;
}

.file-preview .ibenic_file_preview {
    position: absolute;
    width:100%;
    height:100%;
    overflow: hidden;
}

/*.ibenic_file_delete {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*top: 98%;*/
    /*left: 0;*/
    /*padding: 0.5em;*/
    /*text-align: center;*/
    /*color: white;*/
    /*background-color: red;*/
    /*height: 43px;*/
    /*border: none;*/
    /*line-height: 29px;*/
/*}*/


.ibenic_file_delete {
    position: absolute;
    width: 40px;
    left: 124px;
    padding: 0.5em;
    text-align: center;
    color: white;
    background-color: #e74141db;
    border-radius: 50% !important;
    border: none;
    top: -10px;
    height: 40px;
    line-height: 26px;
}
.ibenic_file_delete:focus{
    outline: none;
}