.nopad {
    padding: 0!important
}

table.form-table tr td,
table.form-table tr th {
    vertical-align: middle !important;
}

table.form-table tr.font-select td {
    text-align: left
}

table.form-table tr.font-select td.inline-field {
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #e2e0e0
}

table.form-table tr.font-select td.inline-field h4 {
    margin: 0;
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle
}

table.form-table tr.font-select td.inline-field select {
    display: inline-block;
    min-width: 100px;
    vertical-align: middle
}

table.form-table tr.font-select td.inline-field input {
    display: inline-block;
    vertical-align: middle
}

table.form-table tr.font-select td.inline-field input::-webkit-input-placeholder {
    font-size: .8em;
    opacity: .8
}

table.form-table tr.font-select td.inline-field input:-moz-placeholder {
    font-size: .8em;
    opacity: .8
}

table.form-table tr.font-select td.inline-field input::-moz-placeholder {
    font-size: .8em;
    opacity: .8
}

table.form-table tr.font-select td.inline-field input:-ms-input-placeholder {
    font-size: .8em;
    opacity: .8
}

table.form-table tr.font-select:last-child td.inline-field {
    border-bottom: 0
}

.orange-settings #feedback {
    display: block;
    position: fixed;
    top: 50px;
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
    left: 0;
    right: 0
}

.orange-settings #feedback p {
    font-size: 1.3em;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem
}

.orange-settings #feedback p.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb
}

.orange-settings #feedback p.failure {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}

.orange-settings .description.small {
    font-size: smaller;
    margin: 0;
    padding-left: 80px;
    font-weight: 400
}

.orange-settings .alt_img_logo .site_logo,
.orange-settings .shop_bg_img_src,
.orange-settings .img_logo .site_logo {
    max-width: 120px;
    display: block;
    margin-bottom: 10px
}
.orange-settings .alt_img_logo #upload_logo,
.orange-settings .shop_bg_img_src,
.orange-settings .img_logo #upload_logo {
    width: 120px;
}
img.shop_bg_img_src{
    width: 120px;

}